<html>
  <head>
    <title>GuildWars2 Item Picker</title>
  </head>
  <body>
    <form method="get" action="{% url 'chooselist' %}">
      <input type="text" placeholder="Search For" name="searchText">
      <input type="submit" value="search">
    </form>
    <table>
      <thead>
        <tr>
          <th>active</th>
          <th>icon</th>
          <th>name</th>
          <th>buy price</th>
          <th>sell price</th>
        </tr>
      </thead>
      <tbody>
      {% for item in renderlist %}
        <tr>
          <td><input type="checkbox" value={{item.selected}}></td>
          <td><img style="height: 128px; width: 128px" src="{{item.item_icon}}"/></td>
          <td>{{item.item_name}}</td>
          <td>{{item.item_buy_price}}</td>
          <td>{{item.item_sell_price}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
      <span class="step-links">
        {% if renderlist.has_previous %}
            <a href="?page={{ renderlist.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ renderlist.number }} of {{ renderlist.paginator.num_pages }}.
        </span>

        {% if renderlist.has_next %}
            <a href="?page={{ renderlist.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  </body>
</html>
