<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--<script type="text/javascript" src="/media/web/jquery.js"></script>-->
    <link href="/static/css/my_custom.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
      function addItem() {
        $('#ingredientList').append('<div class="ingredient"><select>{% for item in itemlist %}<option value="{{item.item_name}}">{{item.item_name}}</option>{% endfor %}</select><p style="display: inline;">Quantity:</p><input style="display: inline;" type=number></div>');
      };
      function createRecipe() {
        var ingredientContainer = document.querySelector('#ingredientList');
        var recipename = document.getElementById('recipeName').value;
        var result = document.getElementById('result').value
        var resultquantity = document.getElementById('resultQuantity').value
        var ingredientstosend = [];
        var ingredientCount = ingredientContainer.children.length;
        var isMysticForge = document.getElementById('isMysticForge').checked;
        for (var i=0; i<ingredientCount; i++) {
          ingredientstosend.push({name: ingredientContainer.children[i].children[0].value, quantity: ingredientContainer.children[i].children[2].value});
        }
        console.log(ingredientstosend);
        $.ajax({url: '/data/createrecipe/', data: { recipename: recipename, ingredients: JSON.stringify(ingredientstosend), result: result, resultquantity: resultquantity, isMysticForge: isMysticForge}, type: 'POST'});
      };
    </script>
    <title>GuildWars2 Cookbook</title>
  </head>
  <body>

    <!-- header bar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">GuildWars2 Market Data</a>
        </div>
      </div>
    </nav>


    <div class="page-header">
      <h1> Recipes </h1>
    </div>

    <!-- test table -->
    <div class="page-header">
      <h2> Mystic Forge Recipes </h2>
    </div>
    <table class="table table-striped col-md-12">
      <thead>
        <tr>
          <th class="col-md-2">Name</th>
          <th class="col-md-6">Ingredients</th>
          <th class="col-md-2">Result</th>
          <th class="col-md-2">Profit</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in mflist %}
        <tr>
          <td>
            {{recipe.name}}
          </td>
          <td>
            {% for ingredient in recipe.ingredients %}
            <div class="imgwrap">
              <img style="height: 32px; width: 32px" src="{{ingredient.item_icon}}"/> x {{ingredient.quantity}}
              <div class="imgdescription">
                <div>
                  <div>{{ingredient.item_name}}</div>
                  <div>
                    each: <img style="height: 16px; width: 16px" src="/static/data/Gold_coin.png">{{ingredient.item_buy_price.gold}}<img style="height: 16px; width: 16px" src="/static/data/Silver_coin.png">{{ingredient.item_buy_price.silver}}<img style="height: 16px; width: 16px" src="/static/data/Copper_coin.png">{{ingredient.item_buy_price.copper}}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </td>
          <td>
            <div class="imgwrap">
              <img style="height: 32px; width: 32px" src="{{recipe.result.item_icon}}" title="{{recipe.result.item_name}}"/> x {{recipe.result.quantity}}
              <div class="imgdescription">
                <div>
                  <div>{{recipe.result.item_name}}</div>
                  <div>
                    each: <img style="height: 16px; width: 16px" src="/static/data/Gold_coin.png">{{recipe.profit.gold}}<img style="height: 16px; width: 16px" src="/static/data/Silver_coin.png">{{recipe.profit.silver}}<img style="height: 16px; width: 16px" src="/static/data/Copper_coin.png">{{recipe.profit.copper}}
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="{% if recipe.profit.loss == True %}unprofitable{% else %}profitable{% endif %}">
              <img style="height: 16px; width: 16px" src="/static/data/Gold_coin.png">{{recipe.profit.gold}}<img style="height: 16px; width: 16px" src="/static/data/Silver_coin.png">{{recipe.profit.silver}}<img style="height: 16px; width: 16px" src="/static/data/Copper_coin.png">{{recipe.profit.copper}}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- end mystic forge recipes, begin crafting recipes -->

    <div class="page-header">
      <h2> Crafting Recipes </h2>
    </div>
    <table class="table table-striped col-md-12">
      <thead>
        <tr>
          <th class="col-md-2">Name</th>
          <th class="col-md-6">Ingredients</th>
          <th class="col-md-2">Result</th>
          <th class="col-md-2">Profit</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in craftinglist %}
        <tr>
          <td>
            {{recipe.name}}
          </td>
          <td>
            {% for ingredient in recipe.ingredients %}
            <div class="imgwrap">
              <img style="height: 32px; width: 32px" src="{{ingredient.item_icon}}"/> x {{ingredient.quantity}}
              <div class="imgdescription">
                <div>
                  <div>{{ingredient.item_name}}</div>
                  <div>
                    each: <img style="height: 16px; width: 16px" src="/static/data/Gold_coin.png">{{ingredient.item_buy_price.gold}}<img style="height: 16px; width: 16px" src="/static/data/Silver_coin.png">{{ingredient.item_buy_price.silver}}<img style="height: 16px; width: 16px" src="/static/data/Copper_coin.png">{{ingredient.item_buy_price.copper}}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </td>
          <td>
            <div class="imgwrap">
              <img style="height: 32px; width: 32px" src="{{recipe.result.item_icon}}" title="{{recipe.result.item_name}}"/> x {{recipe.result.quantity}}
              <div class="imgdescription">
                <div>
                  <div>{{recipe.result.item_name}}</div>
                  <div>
                    each: <img style="height: 16px; width: 16px" src="/static/data/Gold_coin.png">{{recipe.profit.gold}}<img style="height: 16px; width: 16px" src="/static/data/Silver_coin.png">{{recipe.profit.silver}}<img style="height: 16px; width: 16px" src="/static/data/Copper_coin.png">{{recipe.profit.copper}}
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="{% if recipe.profit.loss == True %}unprofitable{% else %}profitable{% endif %}">
              <img style="height: 16px; width: 16px" src="/static/data/Gold_coin.png">{{recipe.profit.gold}}<img style="height: 16px; width: 16px" src="/static/data/Silver_coin.png">{{recipe.profit.silver}}<img style="height: 16px; width: 16px" src="/static/data/Copper_coin.png">{{recipe.profit.copper}}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- end crafting recipes -->


    <div class="page-header">
      <h2> Create Recipe </h2>
    </div>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="recipeNickname" class="col-sm-2 control-label">Recipe Nickname</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="recipeNickname" placeholder="Recipe Nickname">
        </div>
      </div>
      <div class="form-group">
        <label for="ingredient" class="col-sm-2 control-label">Ingredient</label>
        <div class="col-sm-10">
          <select class="form-control" id=ingredient>
            {% for item in itemlist %}<option value="{{item.item_name}}">{{item.item_name}}</option>{% endfor %}
          </select>
        </div>
      </div>
    </form>
    <!-- <form class="form-horizon">
      <div class="form-group">
        <p style="display: inline;">Recipe nickname</p>
        <input id="recipeName" type=text><p style="display: inline;">  Mystic Forge recipe: </p><input style="display: inline;" id=isMysticForge type="checkbox">
      </div>
      <div id="ingredientList">
        <div class="ingredient">
         <select>{% for item in itemlist %}<option value="{{item.item_name}}">{{item.item_name}}</option>{% endfor %}</select><p style="display: inline;">Quantity:</p><input style="display: inline;" type=number>
       </div>
      </div>
      <button onclick='addItem()'>add ingredient</button>
      <h3>Product</h3>
      <select id="result">{% for item in itemlist %}<option value="{{item.item_name}}">{{item.item_name}}</option>{% endfor %}</select><p style="display: inline;">Quantity:</p><input id="resultQuantity" style="display: inline;" type=number>
      <br><button onclick='createRecipe()'>create recipe</button>
    </form> -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
